.message
  .group
    .group_box
      .group_name
        = @group.name
      %h3 メンバー一覧
    .memberLists
      - @group.users.each do |user|
        = user.name
      .messages
        = render @messages
    .message_form    
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'