.message
  .main_header
    .main_header-table
      .main_header-table-title
        %h1.headerTitle ONLINE BOOK SHARE
  .group
    .group_box
      .group_name
        = @group.name
      %i.fas.fa-users
      .memberLists
        - @group.users.each do |user|
          = user.name
    .messages
      = render @messages
    .message_form    
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: "input-box__text", placeholder: 'type a message'
            =f.label :image, class: "input-box__image" do
              = icon 'fas', 'image'
              = f.file_field :image, class: "input-box__image__file"
          = f.submit 'Send', class: 'form__submit'
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"}
:javascript
  
