.body
  .main#main
    - if user_signed_in? && current_user
      = current_user.name 
      さんこんにちは
    .main_header
      .main_header-table
        .main_header-table-title
          %h1.headerTitle ONLINE BOOK SHARE
          .title-description 誰でも手軽にオンライン読者会
        .main_header-navigation
          %ul.headerUl
            - if user_signed_in? && current_user
              = link_to "ログアウト", destroy_user_session_path, method: :delete
              = link_to "マイページ", user_path(current_user)
            - else
              = link_to "ログイン", new_user_session_path, class: 'new_user_buton',type: 'submit'
              = link_to "新規会員登録",new_user_registration_path, class: 'login_button',type: 'submit'
            .groupBtn
            - if user_signed_in? && groups_path
              = link_to "部屋に入る",group_messages_path(current_user),class: "upper"
              = link_to "部屋を新規作成する",new_group_path, class: "hidden"
            - else
              = link_to "読書する", new_group_path
            = link_to "最新本ランキング"
    .main_image 
      %h2 読書好きのあなたのために
    .Explanation
      %h3 読書の３ステップを実現
      .Explanation-lists
        .Explanation-list
          %i.fas.fa-book-reader
            %h4 読む
          %i.fas.fa-user-edit
            %h4 言語化する
          %i.fas.fa-comment
            %h4 アウトプット
    .footer
    



      

